## Functons and its types
### What is a function
```
def fun(name,age=25):#position,default valuw,keyword,variable length
    statements
    ...
    ...
    ...
    return value
fun(25,'c')
fun('c',25)
fun('c')
fun('c',10,20,30)#after the firsat argument all the values are taken by second argument 
    ```

In [17]:
#without return value and without argument
def fun():
    print("anits college")
fun()

anits college

In [18]:
#without return value and with argument
def fun(a):
    print(a)
fun('anits')

anits

In [19]:
#with return value and without argument
def fun():
    a='hello'
    return a
fun()

'hello'

In [20]:
#with return value and with argument
def fun(a):
    return a
fun('anits')

'anits'

In [12]:
#python code using args and return value to find leapyear
def isleapyear(y):
    if(y%400==0) or (y%4==0 and y%100!=0):
        return True
    return False
a=int(input())
isleapyear(a)

2000

True

In [16]:
#print the nanoseconds of the year,consider leap year(366 days)
def nanos(y):
    #if(y%400==0) or (y%4==0 and y%100!=0):
    if(isleapyear(y)):
        n=(366*24*60*60*1000*1000000)
        return n
    else:
        n=(365*24*60*60*1000*1000000)
        return n
nanos(int(input()))

1900

31536000000000000

In [3]:
#print whether the given number is prime number or not
def isprime(x):
    if(x<=1):
        return False
    for i in range(2,x):#check from 2 to x-1
        if(x%i==0):
            return False
    return True
x=int(input())
if(isprime(x)):
    print("given number {} is  prime".format(x))
else:
    print("given number {} is not prime".format(x))

17
given number 17 is  prime

In [11]:
#print prime numbers upto given number
l=0
b=int(input())
#n=int(input())
i=2
#for i in range(2,n):
while True:
    if(isprime(i)):
        print(i,end=" ")
        l+=1
    if(l==b):
        break
    i+=1

25
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [13]:
# ^[9][1][6-9][0-9]{9}$|^[6-9][0-9]{9}|^[0][6-9][0-9]{9}
import re
i=int(input())
p='^[9][1][6-9][0-9]{9}$|^[6-9][0-9]{9}|^[0][6-9][0-9]{9}'
if re.match(p,str(i)):
    print("valid number")
else:
    print("invalid number")

1111111346
invalid number

In [14]:
import re
p='This is python workshop'
if(re.search('python',p)):
    print("found")
else:
    print("not found")

found

In [16]:
import re
i=input()
#p='^[a-z.@_0-9]{5,}$'
p='^[a-z.0-9]{5,}[@][a-z]{1,}[.][a-z]{1,}$'
if re.match(p,str(i)):
    print("valid email")
else:
    print("invalid email")

fkh.djh124@gmialcom
invalid email

## Data structures in python:
### Similar to collections simply call it as iterators
```
    - List
    - Tuple
    - Set snd
    - Dictionary
    ```

# List:
```
    -Collections of heterogenous(different) type of data elements 
    -It can be defined as [] and can be typecasted by list() method
    -It can changes the values,slicing is done due to index 
    -Ordered format of data because index
    ```

In [18]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [43]:
p=[2,3,4,456,54]
print(p)
print(type(p))
print(p[3])
print(p[2:5])
print(p[1:4:-1])
print(p[1:4:1])
print(p[4:1:-1])
print(p[4:1:1])
print(p[-1:-4:-1])
print(p[-1:-4:1])
print(p[-4:-1:-1])
print(p[-4:-1:1])
p.sort()
print(p)
p.append(100)
print(p)
k=p.copy()
print(k)
print(p.count(100))
c=k.extend(p)
print(c)
print(k)
print(p)
c=k+p
print(c)
print(k)
print(p)

[2, 3, 4, 456, 54]
<class 'list'>
456
[4, 456, 54]
[]
[3, 4, 456]
[54, 456, 4]
[]
[54, 456, 4]
[]
[]
[3, 4, 456]
[2, 3, 4, 54, 456]
[2, 3, 4, 54, 456, 100]
[2, 3, 4, 54, 456, 100]
1
None
[2, 3, 4, 54, 456, 100, 2, 3, 4, 54, 456, 100]
[2, 3, 4, 54, 456, 100]
[2, 3, 4, 54, 456, 100, 2, 3, 4, 54, 456, 100, 2, 3, 4, 54, 456, 100]
[2, 3, 4, 54, 456, 100, 2, 3, 4, 54, 456, 100]
[2, 3, 4, 54, 456, 100]

In [55]:
print(p.index(100))
p.insert(0,1)
print(p)
p.pop(7)#removes the value at index 7
print(p)
p.remove(1)#removes the value 456
print(p)
p.reverse()
print(p)

8
[1, 1, 1, 1, 1, 1, 1, 1, 54, 100]
[1, 1, 1, 1, 1, 1, 1, 54, 100]
[1, 1, 1, 1, 1, 1, 54, 100]
[100, 54, 1, 1, 1, 1, 1, 1]

In [56]:
print(p)
p.sort(reverse=True)
print(p)

[100, 54, 1, 1, 1, 1, 1, 1]
[100, 54, 1, 1, 1, 1, 1, 1]

In [57]:
print(p)
p.clear()#clears the values in list but not list
print(p)

[100, 54, 1, 1, 1, 1, 1, 1]
[]

In [5]:
n=[23,54,'y',34,'sd']
for i in n:
    if str(i).isdigit():
        print(i,end=" ")

23 54 34

In [27]:
n=input().split()
no=[]
st=[]
for i in n:
    if str(i).isdigit():
        no.append(int(i))
    else:
        st.append(i)
no.sort()
st.sort()
print(no)
print(st)

12 23 45 54 sdf dgf
[12, 23, 45, 54]
['dgf', 'sdf']

## TUPLE:
```
    -Collection of heterogenous data type elements
    -It can be defined as () and typescasting as tuple()
    -It cannot be change the values,slicing can be done 
    -Based on index the slicing is done and it is also ordered data
    ```

In [25]:
t=(23,34,34.0,45,56,'kiran')
print(t)
print(type(t))
print(t[2])
print(t[1:4])
print(t[0:3:1])
print(t.count(45))
print(t.index(34))
print(t.count(45))
print(t.index(34.0))

(23, 34, 34.0, 45, 56, 'kiran')
<class 'tuple'>
34.0
(34, 34.0, 45)
(23, 34, 34.0)
1
1
1
1

In [20]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

## SETS
```
    -Collection of hetrogenous data elements
    -It can be defined as {} and typecasted as set()
    -It can change the value but it doesnot supports the slicing
    -Unordered format data,index is not available
    -Removes duplicate elements
    ```

In [34]:
g={34,3,3,3,3,3,3,33,34.564,'rajesh',23,'somu',3}
print(g)

{33, 34, 3, 34.564, 'somu', 23, 'rajesh'}

In [33]:
g

{23, 3, 34, 34.564, 'rajesh', 'somu'}

In [35]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [37]:
g.add(56)
print(g)

{33, 34, 3, 34.564, 'somu', 23, 'rajesh', 56}

In [31]:
k=input().split()
no=[]
s1=[]
s2=[]
l=[]
mm=[]
for i in k:
    if str(i).isdigit():
        no.append(i)
    elif str(i).isalpha():
        s1.append(i.title())
    elif str(i).isalnum():
        s2.append(i)
no.reverse()
print("".join(no))#join all the elements in the list as one
print(s1)
for j in s2:
    l=[]
    for m in j:#s2[j][m]=m in mahesh123
        if m.isalpha():
            l.append(m)
    mm.append("".join(l))# joining individual lists to single list
print(mm)

9 7 20 raju kiran somu mahesh123 som2342u raj234esh
2079
['Raju', 'Kiran', 'Somu']
['mahesh', 'somu', 'rajesh']

In [46]:
import re
p='^[a-z]{1,}$'
s=['9','7','20','raju','somu','murali','workshop123']
for i in s:
    if re.match(p,i):
        print(i,end=" ")
    #if str(i).isalpha():
      #  s1.append("".join(i))

raju somu murali

In [47]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
print(s.difference(s1))
print(s.difference(s1))
print(s)
print(s1)

{8, 5, 7}
{8, 5, 7}
{1, 2, 4, 5, 7, 8}
{1, 2, 4, 100, 101, 145, 123}

In [55]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
s=s.difference_update(s1)
print(s1)
print(s)

{1, 2, 4, 100, 101, 145, 123}
None

In [56]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
s1=s1.difference_update(s)
print(s)
print(s1)

{1, 2, 4, 5, 7, 8}
None

In [57]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
print(s1.intersection(s))
print(s.intersection(s1))
print(s)
print(s1)

{1, 2, 4}
{1, 2, 4}
{1, 2, 4, 5, 7, 8}
{1, 2, 4, 100, 101, 145, 123}

In [60]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
s1=s1.intersection_update(s)
print(s1)
print(s)

None
{1, 2, 4, 5, 7, 8}

In [59]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
s=s.intersection_update(s1)
print(s)
print(s1)

None
{1, 2, 4, 100, 101, 145, 123}

In [61]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
s1=s.intersection_update(s1)
print(s)
print(s1)

{1, 2, 4}
None

In [63]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
print(s.union(s1))
print(s)
print(s1)

{1, 2, 4, 5, 100, 7, 8, 101, 145, 123}
{1, 2, 4, 5, 7, 8}
{1, 2, 4, 100, 101, 145, 123}

In [65]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
s.update(s1)
print(s)
print(s1)

{1, 2, 4, 5, 100, 7, 8, 101, 145, 123}
{1, 2, 4, 100, 101, 145, 123}

In [66]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
print(s.symmetric_difference(s1))
print(s)
print(s1)

{100, 101, 5, 7, 8, 145, 123}
{1, 2, 4, 5, 7, 8}
{1, 2, 4, 100, 101, 145, 123}

In [67]:
s={4,2,1,5,7,8}
s1={100,145,123,101,145,4,2,1}
s=s.symmetric_difference(s1)
print(s)
print(s1)

{100, 101, 5, 7, 8, 145, 123}
{1, 2, 4, 100, 101, 145, 123}

# Dictionary:
```
    - Collection of key and value pairs
    - It can be define as {} and typecast as dict()
    - It can cahnges the value by key,Slicing can be done only on key and values
    - Ordered type of data is to be stored but it is in key value pairs
    - It does not allows the duplicate keys
    ```

In [89]:
h={'name':['rajesh','somu'],'age':24,'year':'2nd year'}
print(h,end="\n")
for j in h.keys():
    print(j,end=" ")
print(end="\n")
for i in h.items():
    print(i,end=" ")
print(end="\n")
for i in h.values():
    print(i,end=" ")
print(end="\n")
print(h.get('name'),end="\n")
print(h.get('age'),end="\n")#passing key as parameter
h.pop('age')
print(h)
h.popitem()#takes no argument and pop an item from last in dictionary 
print(h)
h['surname']='velaga'#pass key as argument so that it is updated in dictionary
print(h)
h.setdefault('s')#key is updated with no value
print(h)

{'name': ['rajesh', 'somu'], 'age': 24, 'year': '2nd year'}
name age year
('name', ['rajesh', 'somu']) ('age', 24) ('year', '2nd year')
['rajesh', 'somu'] 24 2nd year
['rajesh', 'somu']
24
{'name': ['rajesh', 'somu'], 'year': '2nd year'}
{'name': ['rajesh', 'somu']}
{'name': ['rajesh', 'somu'], 'surname': 'velaga'}
{'name': ['rajesh', 'somu'], 'surname': 'velaga', 's': None}
{'name': ['rajesh', 'somu'], 'surname': 'velaga', 's': None}

In [90]:
h.fromkeys('name')

{'n': None, 'a': None, 'm': None, 'e': None}

# Modules and Packages

In [2]:
# print the random values between the given range
import random
def pack(lb,ub,n):
    for i in range(n):
        print(random.randint(lb,ub),end=" ")
pack(111,200,10)

166 176 132 125 181 111 152 169 134 118

# Files Handling

    -Opening file
    -Doing operations on file
    -Closing file

In [10]:
f=open('Data/pw.txt','r')
print(f.read())
f.close()

This is anits college.

In [18]:
f=open('Data/pw.txt','w')
f.write('stay alive.')#rewrited the data in the file
f.close()
f=open('Data/pw.txt','a')
f.write('\nkeep calm.')
f.write('\nDO your work.')
f.close()
f=open('Data/pw.txt','r')
print(f.read())

stay alive.
keep calm.
DO your work.

In [23]:
with open('Data/pw.txt','r') as f:
    f.seek(5)#from which position file pointer has to read characters
    r=f.read(6)
    print(f.tell())
    print(r.split())
    f.close()

11
['alive.']

In [27]:
f=open('Data/pw.txt','r')
r=f.read()
print(r.split())

['stay', 'alive.', 'keep', 'calm.', 'DO', 'your', 'work.']

In [26]:
f=open('Data/pw.txt','r')
print(f.readlines())

['stay alive.\n', 'keep calm.\n', 'DO your work.']

In [37]:
f=open('Data/pw.txt','r')
w=f.readlines()
l=0
c=0
for i in w:
 #   if 'A'<='w[i][0]'<='Z':
  #      c+=1
    print(i,end="")
    l+=1
print("\nno.of lines in the file:{}".format(l))
print("\nno.of lines starting with capital letter:{}".format(c))

stay alive.
keep calm.
DO your work.
no.of lines in the file:3

no.of lines starting with capital letter:0

In [35]:
print([i for i in range(1,10)])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
print([i for i in input().split()])

1 2 3 4 5 6 7 8 9 0
['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

In [41]:
para="wyr jhrf sjtf sjfn"
l=[]
for i in para.split():
    l.append(i)
print(l)

['wyr', 'jhrf', 'sjtf', 'sjfn']

In [42]:
print([i for i in para.split()])#splits the para into words and to store in a list

['wyr', 'jhrf', 'sjtf', 'sjfn']

# MAPS:

In [50]:
def add(a):
    return a**3
#numbers=(1,2,3,4)
#print(list(map(add,numbers)))
#print(list(map(add,range(1,5))))
l=map(add,range(1,5))#iterator=(range(1,5))
print(list(l))

[1, 8, 27, 64]